table {
    border: 10px solid;
    border-color: blue;
    background-color: bisque;
}
td { 
   color: rgb(53, 228, 228);
}
thead {
    background-color: rgb(161, 177, 132);
}
tbody tr:nth-child(even) {
    background-color: rgb(88, 62, 29);
}
tbody tr:nth-child(odd) {
    background-color: rgb(185, 115, 23);
}
#valami {
    background-color: brown;
}