table {
    border: 1px solid;
    background-color: rgb(0, 255, 0);
    color: rgb(91, 0, 177);
    border-color: black; 
    /* betűszín */
    font-family: 'Courier New';
    /* betű stílus */
    font-size: 30px;
    /* betűméret */
  }
td {
  background-color: rgb(255, 0, 0);
}
#keses {
    background-color: green;
}
.elso_oszlop {
  background-color: aqua;
}
.teteje {
  background-color: rgb(160, 194, 26);
}